.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.search__result-count {
    margin-bottom: 20px;
    color: #555;
    font-size: 1.1rem;
} 